* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

nav {
  margin-top: 3.5vw;
  flex-direction: row;
}

ul {
  display: flex;
  list-style: none;
}

ul li {
  padding-inline: 1em;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-around;
}

header.header-center {
  flex-direction: row;
  justify-content: center;
}

header.header-right {
  justify-content: right;
}
#buttonInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
#inputDT {
  color: #b8b8b8;
  padding: 0 200px 0 25px;
  line-height: 50px;
  font-size: 12px;
  font-weight: 400;
  border: solid white 2px;
  opacity: 0.5;
}

#buttonDT {
  background: #fff;
  color: #000;
  border: 0;
  padding: 2px 20px 2px 20px;
  font: 12px/18px Roboto, Helvetica, Arial, Verdana, sans-serif;
  font-weight: 700;
  min-height: 50px;
  border-radius: 4px;
  padding: 0px 75px;
  box-sizing: border-box;
}
