* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

html {
  background-image: url('img/Marketing_LandingFeatured_Redesign.webp');
  background-size: cover;
}

nav {
  color: white;
  margin-top: 3.5vw;
  flex-direction: row;
}

ul {
  display: flex;
  list-style: none;
}

ul li {
  padding-inline: 1em;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-around
}

header.header-center {
  flex-direction: row;
  justify-content: center;
}

header.header-right {
  justify-content: right;
}

.footer {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.footer a {
  color:green;
  background: transparent;
  flex-direction: column;
  padding: 2px 2px;
  width: 100%;
  margin: 2px 2px;
}

.footer p {
  margin: 40px auto;
  font-size: 12px;
}
